/* base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "poppinsTitulo";
    src: url(font/Poppins-Bold.ttf);
}

@font-face {
    font-family: "poppinsTxt";
    src: url(font/Poppins-Light.ttf);
}

:root {
    --corFundo: #6300c5;
    --corBranco: #fff;
    --quest1: #db1a1a;
    --quest2: #401fd3;
    --quest3: #28e122;
    --quest4: #d5bb12;

}

.questao {
    display: flex;

    width: 1200px;
    height: 90px;

    align-items: center;
    justify-content: center;

    background-color: var(--corBranco);

    margin: 25px 0px;
}
.titulo {
    font: 600 20px "poppinsTitulo";
}

.txt {
    font: 600 15px "poppinsTxt";
}
/* fim base */

.fundo {
    display: flex;
    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

.base {
    display: flex;
    width: 1200px;
    height: 750px;

    background-color: var(--corFundo);

    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.opcoes {
    display: flex;
    width: 1100px;
    height: 300px;

    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    margin: 25px 0px;
}

.opc {
    display: flex;

    width: 500px;
    height: 75px;

    margin: 10px;

    justify-content: center;
    align-items: center;

    color: #fff;;

    border-radius: 15px;

    transition: 500ms;
}

#escolha1 {
    background-color: var(--quest1);
}

#escolha2 {
    background-color: var(--quest2);
}

#escolha3 {
    background-color: var(--quest3);
}

#escolha4 {
    background-color: var(--quest4);
}

.opc:hover {
    transform: scale(1.05);
}
#vidas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heart {
    display: flex;
    width: 70px;
    height: 70px;
}

.ilustracao {
    width: 500px;
    height: 400px;
}

.alinhamento {
    display: flex;

    align-items: center;
    justify-content: center;
}

.valores {
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 150px;
    height: 150px;

    background-color: #ffffff;
    border-radius: 20px;

    margin: 10px 100px;
}

.hide {
    background-color: var(--corFundo);
}

.espacar {
    margin: 0px 10px;
}
/* fim base */
/* caixa */

/* fim caixa */
/* escolhas */
/* fim escolhas */